---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Landing</h1>
		</main>
	</body>
</html>


<script>
	const el = document.querySelector('.dn');

	const delay = setTimeout(() => {
		el?.classList.remove('dn');
		clearTimeout(delay);
	}, 2000);

</script>

<style>
	.menu {
		padding: 0;
		margin: 0;
		border: 1px solid #555;
		width: 64px;
		height: 64px;
		padding: 0px 0 5px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		background: transparent;
		font-size: 44px;
		border-radius: 4px;
	}
</style>